@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: antiquewhite;
}

.container1 .text {
    position: relative;
    color: aqua;
    font-size: 1.9rem;
    font-weight: 600;
}

.container1 .text.first-text {
    color: #fff;
}

.text.sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #081b29;
    border-left: 2px solid aqua;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
        overflow: hidden;
    }

    100% {
        left: 0%;
        overflow: hidden;
    }
}

.heading {
    text-align: center;
    justify-content: center;
    height: 90px;
    font-size: 3.5rem;
    padding-top: 50px;
    padding-bottom: 100px;
    text-decoration: underline;
}

.header {
    width: 100%;
    padding: 20px 10%;
    /* position: fixed; */
    left: 0;
    top: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: rgb(18, 189, 175);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #056286;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.header a:hover,
.header a:active {
    color: #ffee10;
    /* box-shadow: 0 0 5px #ffee10; */
    text-shadow: 0 0 5px #ffee10;
}

.home {
    height: 100vh;
    /* background: url('https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy-downsized-large.gif'); */
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 10rem;
    align-items: center;
    /* padding: 0 10%; */
    /* flex-wrap: wrap; */
    padding-right: 10%;
    align-items: center;
    /* margin-left:5rem; */

}

.main-image {
    width: 60%;
    margin-left: 30px;
}

.main-image :hover {
    color: #ffee10;
    box-shadow: 10px 10px 5px #ffee10;
}

.home img {
    width: 70%;
    height: 30%;
    padding: 2.5rem;
    transition: all(1);
    animation: scaleImage 5s linear infinite;
    float: right;
    margin-bottom: 4rem;
}

@keyframes scaleImage {
    0% {
        filter: yellow(0);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        filter: yellow(1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
        filter: yellow(0);
    }
}


.home-content {
    max-width: 600px;
    margin-left: 44px;
}

.home-content h3 {
    font-size: 1rem;
    font-weight: 700;
    color: aqua;
}

.home-content p {
    font-size: 1rem;
}

.home-content .btn-box {
    width: 345px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.btn-box a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #f7f6f4;
}

.home-social {
    position: absolute;
    bottom: 40px;
    margin: 10px auto;
    margin-left: 1.5rem;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.home-social a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-social a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

/* For Skills Section  */
.skill {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
      background-repeat: unset; */
}

.heading {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    font-size: 3.5rem;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
}

.container {
    width: 250px;
    float: left;
    text-align: center;
    margin: 25px;
}

.container img {
    width: 180px;
    height: 150px;
    border-radius: 50px;
}

.container h4 {
    font-size: 1rem;
}

/* FOr Education Section */
.education {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* background-image: url(https://media.giphy.com/media/xTiTniuHdUjpOlNo1q/giphy.gif);
      background-repeat: no-repeat;
      background-size: cover; */
}

.edu {
    width: 280px;
    height: 400px;
    margin: 15px;
    float: left;
    padding: 25px;
    border-radius: 25px;
    border: .125cm dashed;
    text-align: center;
    margin-bottom: 100px;
}

.edu img {
    width: 100%;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.edu li {
    font-size: 1rem;
    font-weight: 600;
}

/* For Project Section */
.projectDiv {
    justify-content: center;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.box {
    width: 17rem;
    height: 14rem;
    text-align: center;
    border-radius: 30px 30px;
    background-color: #4071ED;
}

.box img {
    width: 100%;
    height: 195px;
    border-radius: 25px 15px;
}

.box .img {
    height: 90%;
    border-radius: 0 15px 0 35px;
}

.box h2 {
    height: 10%;
    color: white;
    padding-bottom: 5%;
    font-size: 1rem;
    border-radius: 0px 0 15px 15px;
    background-color: #4071ED;
}

/* For Contect Section */
.contect {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.content {
    width: 30%;
    margin: 20px;
    text-align: center;
}

.content img {
    width: 50px;
    height: 50px;
}

.form-container {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 800px;
}

form h3 {
    color: #00abf0;
    text-align: center;
    margin-bottom: 5px;
}

form input,
form textarea {
    border: 0;
    margin: 2px 0;
    padding: 10px;
    color: antiquewhite;
    border-radius: 10px;
    outline: .0110cm solid #ffee10;
    background-color: transparent;
}

form button {
    padding: 15px;
    margin: 0 auto;
    background: wheat;
    color: #000;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .text.sec-text {
        font-size: 1rem;
    }

    .text.sec-text::before {
        overflow: hidden;
    }

    .edu {
        width: 40%;
        height: 50%;
        margin: 15px;
        float: left;
        padding: 25px;
        border: .025cm solid yellow;
        border-radius: 25px;
        text-align: center;
        margin-bottom: 100px;
    }

    .edu li {
        font-size: .7rem;
    }

    .container {
        width: 11rem;
        height: 11rem;
        float: left;
        text-align: center;
        margin: 10px;
    }

    .container img {
        width: 100%;
        height: 7rem;
        border-radius: 50px;
    }

    .content {
        width: 45%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .home {
        height: 100vh;
        display: inline-block;
        align-items: center;
        padding: 0 10%;
    }

    .main-image {
        width: 80%;
        margin-left: 30px;
    }

    .home img {
        width: 100%;
        height: auto;
        float: right;
    }

    .home-social {
        display: none;
    }

    [class*="heading"] {
        width: 100%;
        margin: auto;
        padding: 10%;
    }

    .box {
        width: 11rem;
        height: 11.5rem;
        text-align: center;
        border-radius: 30px 30px;
        background-color: #4071ED;
    }

    .box img {
        width: 100%;
        height: 9rem;
        border-radius: 25px 15px;
    }

    .box .img {
        height: 85%;
        border-radius: 0 15px 0 35px;
    }
}